body{
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    color:cyan
    
}
p{
    color:red;
    
}
.blue-paragraph{
    color:#3f2fd4;
}
a{
    text-decoration: none;
    color:blueviolet;
}
